@charset "Utf-8";

body {
    background-image: url(imagens/fundo-madeira.jpg);
}
img#iphone {
    display: block;
    width: 311px;
    height: 607px;
    margin: auto;

}
iframe {
    display: block;
    height: 29em;
    width: 16.68em;
    margin: auto;
    margin-top: -33.25em;
}
ul {
    margin-top: -30em;
    padding-left: 1%;
    line-height: 5em;
}
ul > li > a > img {
    width: 4%;
    border-radius: 40px 40px 40px 40px;
}